.container
    .row
        .col-md-8.offset-md-2
            %h2= @representative.name
            %img.img-fluid{ src: @representative.photo_url, alt: "#{@representative.name} photo" }
        .info
            %p
                %strong Political Party:
                = @representative.political_party
            %p
                %strong Contact Address:
                = @representative.contact_address
